html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('./imagenes/tesla.jpeg'); /* Cambia 'tu-imagen-aqui.jpg' por la URL de tu imagen */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
